<div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 grid-margin stretch-card" style="position: absolute;top: 70px;z-index: 1300;left: 130px;">
  <div class="card" style="box-shadow: 1px 1px 3px 2px grey;">
    <div class="card-body" style="padding: 1.88rem 1.81rem 0.5rem;">
      <div class="d-flex justify-content-between">
        <h4 class="card-title">Live tracking by Transport ID</h4>
        <i class="mdi mdi-close" style="cursor: pointer;" (click)="closeTrackWindow()"></i>
      </div>
      <div class="add-items d-flex">
        <input type="text" [(ngModel)]="transportId" [ngbTypeahead]="transportSearch" class=" form-control todo-list-input"
          placeholder="Search transport" style="font-size: 10pt;
        font-weight: 500;" autocomplete="off">
        <button *ngIf="isTracking==false" class="add btn btn-success btn-rounded font-weight-medium todo-list-add-btn"
          (click)="onTrack()">Track</button>
        <button *ngIf="isTracking==true" class="add btn btn-danger btn-rounded font-weight-medium todo-list-add-btn"
          (click)="onTrackEnd()">End</button>
      </div>
    </div>

    <div class="card-body d-flex flex-column" *ngIf="isTracking">
      <div class="d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
          <h1 class="font-weight-medium mb-0">{{track.speed}}</h1>&nbsp;&nbsp;<h6 class="font-weight-medium mb-0">km/h</h6>
        </div>
        <i class="mdi mdi-battery-20" style="font-size:15pt;margin-left: 27%"></i>
        <span class="chart-label">
          <div class="badge badge-pill badge-lg {{track.batteryCSS}} my-auto ml-3 d-none d-lg-block">{{track.battery}}%</div>
        </span>
      </div>
      <div class="wrapper mt-4">
        <div class="d-flex align-items-center py-3 border-bottom">
          <span class="dot-indicator {{track.statusCSS}}"></span>
          <p class="mb-0 ml-3">{{track.status}}</p>
          <p class="ml-auto mb-0 text-muted">{{track.reported}}</p>
        </div>
        <div class="d-flex align-items-center py-3 border-bottom">
          <i class="mdi mdi-satellite-variant" style="font-size: 16pt;"></i>
          <p class="mb-0 ml-3" style="font-size: 9pt;text-align: center">{{track.place}}</p>
        </div>
      </div>
    </div>
  </div>
</div>