<div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 grid-margin stretch-card" style="position: absolute;top: 1%;z-index: 900;left: 5%;">
  <div class="card" style="box-shadow: 1px 1px 3px 2px grey;">
    <div class="card-body" style="padding: 1.88rem 1.81rem 0.5rem;">
      <div class="d-flex justify-content-between">
        <h4 class="card-title">History by Transport ID</h4>
        <i class="mdi mdi-close" style="cursor: pointer;" (click)="closeReplayWindow()"></i>
      </div>
      <div class="add-items d-flex">
        <input type="text" [(ngModel)]="transportId" [ngbTypeahead]="transportSearch" class=" form-control todo-list-input"
          placeholder="Transport ID" style="font-size: 10pt;
        font-weight: 500;" autocomplete="off">
      </div>

      <div id="datepicker-popup" class="input-group date datepicker">
        <input readonly placeholder="From Date" class=" form-control todo-list-input" style="font-weight: 500;font-size: 10pt;"
          [owlDateTime]="dt1" [(ngModel)]="selectedMoments" [selectMode]="'rangeFrom'">
        <span [owlDateTimeTrigger]="dt1" class="input-group-addon input-group-append border-left">
          <span class="mdi mdi-calendar input-group-text"></span>
        </span>
        <owl-date-time #dt1 [hour12Timer]="true"></owl-date-time>
      </div>
      <div id="datepicker-popup" class="input-group date datepicker" style="margin-top: 10%;">
        <input readonly placeholder="To Date" class=" form-control todo-list-input" style="font-weight: 500;font-size: 10pt;"
          [owlDateTime]="dt2" [(ngModel)]="selectedMoments" [selectMode]="'rangeTo'">
        <span [owlDateTimeTrigger]="dt2" class="input-group-addon input-group-append border-left">
          <span class="mdi mdi-calendar input-group-text"></span>
        </span>
        <owl-date-time #dt2 [hour12Timer]="true"></owl-date-time>
      </div>

      <button style="margin: 19px 0px 10px 0px;font-size: 9pt;" class="add btn btn-primary btn-rounded font-weight-medium todo-list-add-btn"
        (click)="onGetHistory()">Get History</button>&nbsp;&nbsp;&nbsp;
      <button style="margin: 19px 0px 10px 0px;font-size: 9pt;" class="add btn btn-success btn-rounded font-weight-medium todo-list-add-btn"
        (click)="onReplay()">Replay</button>
      <div class="d-flex justify-content-between border-top mt-2 pt-3" *ngIf="isTrailing">
        <div class="d-flex">
          <div class="dot-indicator bg-warning mt-1 mr-2"></div>
          <div class="d-flex flex-column">
            <p class="mb-2" style="font-size: 9pt;">Parked</p>
            <small class="text-gray" style="text-align: center;font-size: 14pt;font-weight: 500;color: black;">{{historyInfo.parked}}</small>
          </div>
        </div>
        <div class="d-flex">
          <div class="dot-indicator mt-1 mr-2" style="background-color: #d82e2e;"></div>
          <div class="d-flex flex-column">
            <p class="mb-2" style="font-size: 9pt;">Speed</p>
            <small class="text-gray" style="text-align: center;font-size: 14pt;font-weight: 500;color: black;">{{historyInfo.speed}}</small>
          </div>
        </div>
        <div class="d-flex">
          <div class="dot-indicator bg-danger mt-1 mr-2"></div>
          <div class="d-flex flex-column">
            <p class="mb-2" style="font-size: 9pt;">Disconnect</p>
            <small class="text-gray" style="text-align: center;font-size: 14pt;font-weight: 500;color: black;">{{historyInfo.disconnect}}</small>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-between border-top mt-2 pt-3" *ngIf="isTrailing">
        <div class="d-flex">
          <div class="mt-0 mr-2"><i class="mdi mdi-speedometer" style="font-size: 13pt;color: #d4462d;position: relative;bottom: 7%;"></i></div>
          <div class="d-flex flex-column">
            <p class="mb-2" style="font-size: 9pt;">Max Speed</p>
            <small class="text-gray" style="text-align: center;font-size: 11pt;font-weight: 500;color: black;">{{historyInfo.maxSpeed}}</small>
          </div>
        </div>
        <div class="d-flex">
          <div class="mt-0 mr-2"><i class="mdi mdi-road-variant" style="font-size: 13pt;color: #434246;position: relative;bottom: 7%;"></i></div>
          <div class="d-flex flex-column">
            <p class="mb-2" style="font-size: 9pt;">Distance Covered</p>
            <small class="text-gray" style="text-align: center;font-size: 11pt;font-weight: 500;color: black;">{{historyInfo.distance}}</small>
          </div>
        </div>
      </div>
    </div>

    <div class="card-body d-flex flex-column" *ngIf="isTracking">
      <div class="d-flex align-items-center justify-content-between">
        <div class="d-flex align-items-center">
          <h1 class="font-weight-medium mb-0">{{track.speed}}</h1>&nbsp;&nbsp;<h6 class="font-weight-medium mb-0">km/h</h6>
        </div>
        <span style="font-size: 10pt;margin-left: 21%;font-weight: 500;">Battery </span>
        <span class="chart-label">
          <div class="badge badge-pill badge-lg {{track.batteryCSS}} my-auto ml-3 d-none d-lg-block">{{track.battery}}%</div>
        </span>
      </div>
      <div class="wrapper mt-4">
        <div class="d-flex align-items-center py-1 border-bottom">
          <span class="dot-indicator">
            <div class="{{track.statusCSS}}" style="position: relative;margin: 0px auto;"></div>
          </span>
          <p class="mb-0 ml-3">{{track.status}}</p>
          <ul class="bullet-line-list pb-1" style="margin-left: 14%;" *ngIf="isParked===true">
            <li>
              <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex">
                  <div class="">
                    <h6 class="mb-0" style="font-size: 9pt;font-weight: 500;">{{parkingStart | date:'d-M-yy, h:mm a'}}</h6>
                  </div>
                </div>
              </div>
            </li>
            <li>
              <div class="d-flex align-items-center justify-content-between">
                <div class="d-flex">
                  <h6 class="mb-0" style="font-size: 9pt;font-weight: 500;">{{runningTime | date:'d-M-yy, h:mm a'}}</h6>
                </div>
              </div>
            </li>
          </ul>
          <p class="ml-auto mb-0 text-muted" *ngIf="isParked===false">{{track.reported}}</p>
        </div>
        <div class="d-flex align-items-center py-3 border-bottom">
          <i class="mdi mdi-satellite-variant" style="font-size: 16pt;"></i>
          <p class="mb-0 ml-3" style="font-size: 9pt;text-align: center">{{track.place}}</p>
        </div>
      </div>
    </div>
  </div>
</div>